---
import "cal-sans";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <style>
      /* assign the Cal Sans font-family */
      html,
      body {
        font-family: "Cal Sans";
      }

      /* usage samples with adjusted letter spacings */
      h1 {
        font-size: 56px;
      }
      h2 {
        font-size: 40px;
        letter-spacing: 0.01em;
      }
      h3 {
        font-size: 36px;
        letter-spacing: 0.015em;
      }
      h4 {
        font-size: 28px;
        letter-spacing: 0.02em;
      }
      h5 {
        font-size: 20px;
        letter-spacing: 0.03em;
      }
      h6 {
        font-size: 16px;
        letter-spacing: 0.04em;
      }
      .quote {
        font-size: 24px;
        letter-spacing: 0.02em;
      }
      .smaller_cal_sans {
        font-size: 18px;
        letter-spacing: 0.045em;
      }
    </style>
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html>
