---
import "cal-sans";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <style>
      /* assign the Cal Sans font-family */
      html,
      body {
        font-family: "Cal Sans";
      }

      
    </style>
  </head>
  <body>
    <header class="bg-black text-white px-4 py-2">
		<!-- Brand Name -->
		<nav class="flex justify-between items-center">
		  <h1 class="text-4xl font-bold">
			<a href="/" class="hover:text-gray-300">Satish</a>
		  </h1>
		  <!-- Navigation Links -->
		  <ul class="flex gap-8 items-center">
			<li><a href="/" class="hover:border-b-2 hover:border-white py-2">Home</a></li>
			<li><a href="/about" class="hover:border-b-2 hover:border-white py-2">About</a></li>
			<li><a href="/projects" class="hover:border-b-2 hover:border-white py-2">Projects</a></li>
			<li><a href="/contact" class="hover:border-b-2 hover:border-white py-2">Contact</a></li>
		  </ul>
		</nav>
	  </header>
	  
  </body>
</html>
